/* src/App.css */

.App {
  text-align: center;
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
}

label {
  font-size: 1.2rem;
  margin-top: 10px;
}

input {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 200px;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #0814b9;
  border-radius: 5px;
}

li {
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #18b0c4;
}
